// app global css in SCSS format
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.sidebar {
  background: linear-gradient(#e65300, #ea0029);
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-heading {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

:root {
  @apply text-lnf-navy;
}

:root,
html,
p,
.text-body {
  font-family: Ubuntu;
  font-style: normal;
  line-height: normal;
}

h1 {
  font-size: 39px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.button {
  @apply bg-lnf-navy/10 text-lnf-navy backdrop-blur text-body font-medium rounded-xl uppercase py-3 px-6;
}

.button-red {
  @apply border-2 border-lnf-red bg-lnf-red rounded-xl text-white px-6 py-3 uppercase font-medium text-body;
}

.button-red-outline {
  @apply border-2 border-lnf-red rounded-xl text-lnf-red px-6 py-3 uppercase font-medium text-body;
}

.dialog-card {
  @apply p-8 min-w-[50%] rounded-xl;
}
